body{
    margin: 0;
    background-color: azure;
}
header{

    background-image: url(back.png);
    
    color: black;
    padding:30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
header :hover{background-color: rgb(133, 234, 236);
    color: rgb(250, 249, 249);
    
}
nav{
    background-color: rgb(219, 207, 209);
    padding: 10px;
     
}
nav a{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    text-decoration: none;  
}
nav a:hover{
    background-color: rgb(136, 182, 247);
    color: rgb(245, 243, 243);
    
}
.column{
    float: left;
    padding: 20px;
    width: 30%;

}   
.column.main{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;


}.column.last{
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;


}
footer p{
    text-align: center;
    clear: both;
    background-color: aqua;
    color: black;
    

}
fieldset{
    text-align: center;
    
    color: white;
    padding-bottom: 30px;
    align-content: center;
    align-items: center;
   
    padding-top:50px;
    padding-left: 600px;
    padding-right: 600px;
    padding-bottom: 20%;
}
div{
    
        
        background-image: url(window.jpg);
        border: none;
        color: white;
        padding: 15px 32px ;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
    

}
.hero{
    display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

p12{background-color: rgb(104, 156, 140);
    text-align: center;
    color: aliceblue;
    text-overflow: ellipsis;
    text-decoration: solid;
    text-shadow: 2cm;
    padding-inline-start: 75%;
    text: size adjust 2px;;



}

p1{background-color: rgb(104, 156, 140);
    text-align: center;
    color: aliceblue;
    text-overflow: ellipsis;
    text-decoration: solid;
    text-shadow: 2cm;
    padding-inline-start: 50%;



}p2{background-color: rgb(104, 156, 140);
    text-align: center;
    color: aliceblue;
    text-overflow: ellipsis;
    text-decoration: solid;
    text-shadow: 2cm;
    padding-inline-start: 25%;



}



